## quantization/autoawq
-r quantization/autoawq/requirements.txt

## quantization/lmquant
-r quantization/mit_han_lab_lmquant/requirements.txt

## quantization/aqlm
-r quantization/aqlm/requirements.txt

## pruning/flap
-r pruning/flap/requirements.txt

## misc
strenum # if python < 3.11

## dev
# TODO: separate requirements for dev when adding contribution steps
black ## code formatter